{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
  <h1>Dashboard</h1>
    <form method="GET">
        <input type="text" name="keyword">
        <input class="search-btn" type="submit" value="Search">
    </form>
    {% for i in articles %}
    <div class="grid-container">
        <div class="card">
          <div class="news-img">
            <img src = "{{i.urlToImage}}" alt="" height="180px" width="300px">
          </div>
          <div class="news-info">
            <h2>{{i.title}}</h2>
            <h3>{{i.author}}</h3>
            <p>{{i.description}}</p>
            <a href="{{i.url}}" target="_blank">View Article</a>
            <small> published at:{{i.publishedAt}}</small>
          </div>
        </div>
        </div>
  {%endfor%}

{% endblock %}