{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
  <h1>Dashboard</h1>
    <form method="GET">
        <input type="text" name="keyword">
        <input class="search-btn" type="submit" value="Search">
    </form>
<section class="home-section">
    <div class="grid-container">
    {% for i in articles %}
        <div class="card">
            <img class="news-img" src = "{{i.urlToImage}}" alt="">
          <div class="news-info">
            <h2>{{i.title}}</h2>
            <h3>{{i.author}}</h3>
            <p>{{i.description}}</p>
            <a href="{{i.url}}" target="_blank">View Article</a>
            <small> published at:{{i.publishedAt}}</small>
          </div>
        </div>
  {%endfor%}
    </div>
</section>
{% endblock %}