{% extends "base.html" %}
{% block title %}Trending News{% endblock %}
{% block content %}
<form method="GET">
        <select name="country">
            <option selected="selected" disabled>Country:</option>
            <option value="us">United States</option>
            <option value="ae">United Arab Emirates</option>
            <option value="ar">Argentina</option>
            <option value="at">Austria</option>
            <option value="au">Australia</option>
            <option value="be">Belgium</option>
            <option value="bg">Bulgaria</option>
            <option value="br">Brazil</option>
            <option value="ca">Canada</option>
            <option value="ch">Switzerland</option>
            <option value="cn">China</option>
            <option value="co">Colombia</option>
            <option value="cu">Cuba</option>
            <option value="cz">Czechia</option>
            <option value="de">Germany</option>
            <option value="eg">Egypt</option>
            <option value="fr">France</option>
            <option value="gr">Greece</option>
            <option value="hk">Honk Kong</option>
            <option value="hu">Hungary</option>
            <option value="id">Indonesia</option>
            <option value="ie">Ireland</option>
            <option value="in">India</option>
            <option value="jp">Japan</option>
        </select>
        <input type="submit" value="Select">
    </form>

<section class="home-section">
    <div class="grid-container">
    {% for i in articles %}
        <div class="card">
            <img class="news-img" src = "{{i.urlToImage}}" alt="">
          <div class="news-info">
            <a href="{{ i.title }}"><h2>{{i.title}}</h2></a>
            <h3>{{i.author}}</h3>
            <p>{{i.description}}</p>
            <a href="{{i.url}}" target="_blank">View Article</a>
            <small> published at:{{i.publishedAt}}</small>
          </div>
            <form action="{}" method="post">
                  {% csrf_token %}
                  <div>
                      <!--Rating Star-->
                      <div class="rate">
                          <input type="radio" id="star1" name="rate" value="1" />
                          <label for="star1" title="text">1 star</label>
                          <input type="radio" id="star2" name="rate" value="2" />
                          <label for="star2" title="text">2 stars</label>
                          <input type="radio" id="star3" name="rate" value="3" />
                          <label for="star3" title="text">3 stars</label>
                          <input type="radio" id="star4" name="rate" value="4" />
                          <label for="star4" title="text">4 stars</label>
                          <input type="radio" id="star5" name="rate" value="5" />
                          <label for="star5" title="text">5 stars</label>
                      </div>
                  </div>
              </form>
        </div>
    {%endfor%}
    </div>
</section>
{% endblock %}