<!--Delete this later-->
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Quacker</title>
  <link href='{% static "css/base.css" %}' rel="stylesheet">
  <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- Favicon -->
    <link rel="icon" href="assets/favicons/favicon.ico" type="icon" />
</head>
<body>
<div id="header">
  <span class="logo">Quacker</span>
  {% if request.user.is_authenticated %}
    <ul class="menu">
      <li {% if section == "dashboard" %}class="selected"{% endif %}>
        <a href='{% url "dashboard" %}'>Trending News</a>
      </li>
      <li {% if section == "messages" %}class="selected"{% endif %}>
        <a href="#">Messages</a>
      </li>
      <li {% if section == "profile" %}class="selected"{% endif %}>
        <a href='{% url "edit" %}'>Profile</a>
      </li>
      <li {% if section == "invite friends" %}class="selected"{% endif %}>
        <a href="#">Invite Friends</a>
      </li>

    </ul>
  {% endif %}
  <span class="user">
    {% if request.user.is_authenticated %}
      Hello {{ request.user.first_name }},
      <a href='{% url "logout" %}'>Logout</a>
    {% else %}
      <a href='{% url "login" %}'>Log-in</a>
    {% endif %}
  </span>
</div>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close">x</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
<!--*****************-->
